<?xml version="1.0" encoding="utf-8"?>
<!--
  For more information on how to configure your ASP.NET application, please visit
  http://go.microsoft.com/fwlink/?LinkId=169433
  -->
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=5.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <!--Local (testing) connection strings-->
    <!--<remove name="LocalSqlServer"/>
    <add name="LocalSqlServer" connectionString="Data Source=.\sqlexpress;Initial Catalog=TSTMembership;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TSTConnectionString" connectionString="Data Source=.\sqlexpress;Initial Catalog=TST;Integrated Security=True" providerName="System.Data.SqlClient" />
    <add name="TSTEntities" connectionString="metadata=res://*/App_Code.TSTModel.csdl|res://*/App_Code.TSTModel.ssdl|res://*/App_Code.TSTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=.\sqlexpress;initial catalog=TST;integrated security=True;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />-->
    <!--END Local (testing) connection strings-->
    
    <!--Deployed (realdeal) connection strings-->
    <remove name="LocalSqlServer" />
    <add name="LocalSqlServer" connectionString="Data Source=mikewieners.db.11232656.hostedresource.com; Initial Catalog=mikewieners; User ID=mikewieners; Password=Donkeykong98!;"
      providerName="System.Data.SqlClient" />
    <add name="TSTConnectionString" connectionString="Data Source=mikewieners.db.11232656.hostedresource.com; Initial Catalog=mikewieners; User ID=mikewieners; Password=Donkeykong98!;"
      providerName="System.Data.SqlClient" />
    <add name="TSTEntities" connectionString="metadata=res://*/App_Code.TSTModel.csdl|res://*/App_Code.TSTModel.ssdl|res://*/App_Code.TSTModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=mikewieners.db.11232656.hostedresource.com;initial catalog=mikewieners;integrated security=False;User ID=mikewieners; Password=Donkeykong98!;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <!--END Deployed (realdeal) connection strings-->
  </connectionStrings>
  <appSettings>
    <add key="ValidationSettings:UnobtrusiveValidationMode" value="None" />
  </appSettings>
  <system.web>
    <roleManager enabled="true" />
    <authentication mode="Forms" />
    <compilation debug="false" targetFramework="4.5">
      <assemblies>
        <add assembly="System.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Web.Extensions.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=31BF3856AD364E35" />
        <add assembly="System.Windows.Forms, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B77A5C561934E089" />
        <add assembly="System.Security, Version=4.0.0.0, Culture=neutral, PublicKeyToken=B03F5F7F11D50A3A" />
        <add assembly="System.Data.Entity, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
        <add assembly="System.Data.Entity.Design, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" />
      </assemblies>
      <buildProviders>
        <add extension=".edmx" type="System.Data.Entity.Design.AspNet.EntityDesignerBuildProvider" />
      </buildProviders>
    </compilation>
    <httpRuntime targetFramework="4.5" />
    <customErrors mode="Off"></customErrors>
  </system.web>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
  </entityFramework>
</configuration>
